
<table class="table  " style="width: 50%" align="center">
    <tr>
        <td>
            <h2><?php echo $this->translate('OOPS! Erro 404!  ') ?></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>O caminho solicitado não pode ser encontrado. Em caso de dúvidas, entre em contato com o Administrador
                <a href="mailto:crm@horizonstelecom.com">admin@admin.com</a>
            </h4>
        </td>
    </tr>

    <tr>
        <td>
            <a id="btn-login" href="<?php echo $this->url('list'); ?>" class="btn btn-primary pull-center">Home</a>
        </td>
    </tr>
</table>



<script type="text/javascript">
$('#main').remove();

</script>