<?php echo $this->doctype(); ?>

<html lang="pt">
  <head>
      <meta charset="utf-8">
      <?php echo $this->headTitle('Tarefas')?>

      <?php echo $this->headMeta()
          ->appendName('viewport', 'width=device-width, initial-scale=1.0')
          ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
      ?>

       <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/icon.png'))
        ->prependStylesheet($this->basePath() . '/css/jquery.dataTables.min.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap32.min.css')
        ?>

      <!-- Scripts -->
        <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/jquery.dataTables.min.js')
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery.min.js')

        ; ?>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul id="main" class="nav nav-pills pull-right">
          <li>
            <a href="<?php echo $this->url('list'); ?>" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-th-list"></span> 
            </a>            
          </li>
          <li>
            <a href="<?php echo $this->url('newtask'); ?>" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus"></span> 
            </a>            
          </li>
          <li>
            <a href="<?php echo $this->url('logout'); ?>" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-log-out"></span> 
            </a>            
          </li>
        </ul>
        <h3 class="text-muted">
          <a href="<?php echo $this->url('list'); ?>">Gerenciador de Tarefas</a>
        </h3>
      </div>
      <br>
      <div class="jumbotron" style="background: #FFF">
        <?php echo $this->content; ?>
      </div>
      <div class="footer">
        <p>&copy; Kevin Testa 2017</p>
      </div>
    </div> <!-- /container -->
  </body>  
</html>

<style type="text/css">

body {
  background: #e6e6e6 ;
  /*min-height: 3000px;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


</style>