<div class="table-responsive">    
  <table id="task-table" class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-1">Título</th>
        <th class="col-sm-4">Descrição</th>
        <th class="col-sm-2">Prioridade</th> 
        <th class="col-sm-2">Editar</th> 
        <th class="col-sm-2">Excluir</th> 
      </tr>
    </thead>
    <tbody>
      <?php foreach ($this->tasks as $tasks) { ?>
      <tr task="<?php echo $tasks['id'] ?>">
        <td><?php echo $tasks['title'] ?></td>
        <td><?php echo $tasks['description'] ?></td>
        <td><?php echo $tasks['priority'] ?></td>
        <td>
          <button class="btn btn-primary btn-edit" value=<?php echo $tasks['id'] ?>>
            <span class="glyphicon glyphicon-edit"></span> 
          </button> 
        </td>
        <td>
          <button class="btn btn-danger btn-delete" value=<?php echo $tasks['id'] ?>>
            <span class="glyphicon glyphicon-trash"></span> 
          </button> 
        </td>
      </tr>   
      <?php } ?>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel" align="left">Tarefa</h4>
        </div>
        <div class="modal-body">
          <div align="left">
            <form class="form-horizontal" role="form">
              <div id="form-title" class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">Título</label>
                <div class="col-sm-5">
                  <input id="title" type="text" placeholder="Título" class="form-control top required">
                </div>
              </div>
              <div id="form-description" class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">Descrição</label>
                <div class="col-sm-5">
                  <input id="description" type="text" placeholder="Descrição" class="form-control top required">
                </div>
              </div>
              <div id="form-priority" class="form-group">
                <label class="col-sm-4 control-label" for="formGroupInputLarge">Prioridade</label>
                <div class="col-sm-5">
                  <select id="priority" class="form-control required">
                    <option></option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                  </select>
                </div>
              </div>
              <div id="form-fields"></div>
            <div style="" class="col-sm-4" ></div>
            <div style="" class="col-sm-5" id="ajaxLoader"></div>
              
            <div class="form-group form-group">
              <div class="col-sm-9">
                <button id="btn-update" class="btn btn-primary pull-right">Atualizar</button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#main-history').addClass('active');

    $('#task-table').DataTable({
      "order": [[ 2, "desc" ]],
      "language": {
              "lengthMenu": "_MENU_ chamados por página",
              "zeroRecords": "Nenhum chamado encontrado",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "Nenhum chamado encontrado",
              "infoFiltered": "",
              "search" : "Pesquisar",
              "paginate": {
                "next": "Próximo",
                "previous": "Anterior"
              },
      }
    });

    $('#task-table').on('click', '.btn-edit', function() {
      params = {
        method: 'task_list',
        id: $(this).val()        
      };
       $.ajax({ 
          type: "POST",
          url: "../../api/tasks/post", 
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(params),
          success: function(data, textStatus, request) {
            if (data.result.success) {
              console.log(data.result.list[0]);
              $('#title').val(data.result.list[0].title);
              $('#description').val(data.result.list[0].description);
              $('#priority').val(data.result.list[0].priority);
              $('#btn-update').val(data.result.list[0].id);
              $('#task-modal').modal('show');
            } else {
              alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
            }
          },
          error: function(xhr, status, errMsg){
            alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
          }
        });             
    });

    $('#btn-update').click(function(){
      params = {
        method: 'task_update',
        id: $('#btn-update').val(),
        fields: {
          title: $('#title').val(),
          description: $('#description').val(),
          priority: $('#priority').val()
        }
      };
      $.ajax({ 
          type: "POST",
          url: "../../api/tasks/post", 
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(params),
          success: function(data, textStatus, request) {
            if (data.result.success) {
              alert("Tarefa atualizada!");              
            } else {
              alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
            }
          },
          error: function(xhr, status, errMsg){
            alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
          }
        });   
    });

    $('#task-table').on('click', '.btn-delete', function() {
      params = {
        method: 'task_delete',
        id: $(this).val()        
      };
       $.ajax({ 
          type: "POST",
          url: "../../api/tasks/post", 
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(params),
          success: function(data, textStatus, request) {
            if (data.result.success) {
              alert("Tarefa excluída!");              
              location.reload();
            } else {
              alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
            }
          },
          error: function(xhr, status, errMsg){
            alert("Alguma falha ocorreu. Entre em contato com o Administrador!");
          }
        });             
    });
    
});

</script>