<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <?php echo $this->headTitle('Horizons '. $this->translate('Business Telecom'))->setSeparator(' - ')->setAutoEscape(false) ?>

  <?php echo $this->headMeta()
  ->appendName('viewport', 'width=device-width, initial-scale=1.0')
  ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Le styles -->
  <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/icon.png'))
  ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
  ->prependStylesheet($this->basePath() . '/css/main-login.css') 
  ?>

<!-- Scripts -->
  <?php echo $this->headScript()
  ->prependFile($this->basePath() . '/js/bootstrap.js')
  ->prependFile($this->basePath() . '/js/jquery.min.js')

  ; ?>

</head>

<body class="login">

  <div class="form-signin">
    <div class="text-center ">
        <h4>Gerenciador de Tarefas</h4>
    </div>
    <hr>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="">
                <input id="username" type="text" placeholder="Login" class="form-control top">
                <input id="password" type="password" placeholder="Senha" class="form-control bottom">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Lembrar senha
                  </label>
                </div>
                <button id="btn-signin" class="btn btn-lg btn-primary btn-block">Entrar</button>
            </form>
        </div>
        <br>
        <div id="ajaxLoader"></div>
        <div id="signup" class="tab-pane">
            <form action="history.php">
                <input type="text" placeholder="username" class="form-control top">
                <input type="email" placeholder="mail@domain.com" class="form-control middle">
                <input type="password" placeholder="password" class="form-control middle">
                <input type="password" placeholder="re-password" class="form-control bottom">
                <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
  </div>

</body>
</html>

<script type="text/javascript">
  (function($) {
            $(document).ready(function() {
                $('.list-inline li > a').click(function() {
                    var activeForm = $(this).attr('href') + ' > form';
                    //console.log(activeForm);
                    $(activeForm).addClass('animated fadeIn');
                    //set timer to 1 seconds, after that, unload the animate animation
                    setTimeout(function() {
                        $(activeForm).removeClass('animated fadeIn');
                    }, 1000);
                });
            });
        })(jQuery);

  $(document).ready(function(){
    // $('#alert').hide();
  });

  $('#btn-signin').click(function(event){
    event.preventDefault();
    ajaxLoader();
    var login = $('#username').val();
    var password = $('#password').val();

    if( login == '' || password == ''){
      alertError("Por favor, insira o usuário e a senha !", 'danger');
    }
    else {
      $.post( "auth", { 
          login: login,
          password: password 
        }).done(function( data ) {
          if(data['status'] == 1){
            var url = 'list';
            if(url == 0){
              $(window.location).attr('href', 'newticket');              
            }
            else {
              $(window.location).attr('href', url);               
            }
          }
          else if( data['status'] == 2 ){
            alertError("Usuário sem permissão!", 'danger');
          }
          else{
            alertError("Login ou senha inválido!", 'danger');
          }
      }); 
    } 
  });

  function ajaxLoader(){
    $('#ajaxLoader').html('<img align="center" src="<?php echo $this->basePath('img/ajax-loader.gif') ?>"> ');
  }
  function alertError( msgm, status ){      
    $('#ajaxLoader').html('<div id="alert" class="alert alert-'+ status +'" role="alert" style="font-weight: bold;"></div>'); 
    $('#alert').text(msgm);
  }

</script>