<div class="col-sm-12 ">
  <h2 class="pull-left">Nova Tarefa</h2>
  <br/><br/><br/><br/>
</div>

<form class="form-horizontal" role="form">
    <div id="form-title" class="form-group">
      <label class="col-sm-4 control-label" for="formGroupInputLarge">Título</label>
      <div class="col-sm-5">
        <input id="title" type="text" placeholder="Título" class="form-control top required">
      </div>
    </div>
    <div id="form-description" class="form-group">
      <label class="col-sm-4 control-label" for="formGroupInputLarge">Descrição</label>
      <div class="col-sm-5">
        <input id="description" type="text" placeholder="Descrição" class="form-control top required">
      </div>
    </div>
    <div id="form-priority" class="form-group">
      <label class="col-sm-4 control-label" for="formGroupInputLarge">Prioridade</label>
      <div class="col-sm-5">
        <select id="priority" class="form-control required">
          <option></option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div id="form-fields"></div>
  <div style="" class="col-sm-4" ></div>
  <div style="" class="col-sm-5" id="ajaxLoader"></div>
    
  <div class="form-group form-group">
    <div class="col-sm-9">
      <button id="btn-create" class="btn btn-primary pull-right">Criar</button>
    </div>
  </div>
</form>

<script type="text/javascript">

$('#main-newticket').addClass('active');

$(document).ready(function(){
  $('#btn-create').click(function(event){
      event.preventDefault();
      ajaxLoader();    
      valid = valid_field();    
      params = {
        method: 'task_create',
        title: $('#title').val(),
        description: $('#description').val(),
        priority: $('#priority').val()
      };
      if (valid) {
        $.ajax({ 
          type: "POST",
          url: "../../api/tasks/post", 
          dataType: 'json',
          contentType:'application/json',
          data: JSON.stringify(params),
          success: function(data, textStatus, request) {
            if (data.result.success) {
                alertError("Tarefa criada com sucesso!", 'success');
                $('.form-control').each(function(){
                  $(this).val("");
                });
            } else {
              alertError("Alguma falha ocorreu. Entre em contato com o Administrador!", 'warning');
            }
          },
          error: function(xhr, status, errMsg){
            alertError("Alguma falha ocorreu. Entre em contato com o Administrador!", 'warning');
          }
        });             
       
      } else {
        alertError("Preencha os campos obrigatórios!.", 'danger');
      }
  });
});

function valid_field() {
  result = true;      

  $('.required').each(function(){
    field = $(this).prop('id');
    field_value = $('#' + field).val();
    if (field_value == '') {
      console.log(field_value);
      $('#form-' + field).addClass('has-error');
      result = false;
    } else {
      $('#form-' + field).removeClass('has-error');
    }
  });
  
  return result;

}

function ajaxLoader(){
  $('#ajaxLoader').html('<img align="center" src="<?php echo $this->basePath('img/ajax-loader.gif') ?>"> ');
}
function alertError( msgm, status ){      
  $('#ajaxLoader').html('<div id="alert" class="alert alert-'+ status +'" role="alert" style="font-weight: bold;"></div>'); 
  $('#alert').text(msgm);
}


</script>